
// variables

$gray-shadow-alfa: rgba(145, 141, 141, 0.459); // box shadow
$navy-blue-alpha:rgba(81, 131, 245, 0.302);

$gray-trout: rgb(76, 78, 97);
$gray-aluminium: rgb(163, 165, 174);
$gray-bombay:rgb(183, 186, 190);
$white-alabaster: rgb(250, 250, 250);

$red-mandy: rgb(234, 83, 83);
$turquoise: rgb(69, 211, 211);
$yellow-orange: rgb(252, 175, 74);
$cornflower-blue-100: rgb(84, 158, 242);
$cornflower-blue-200:rgb(81, 131, 245);
$cadet-blue: rgb(152, 167, 189);


$font:'Poppins', sans-serif;
$base-font-size: 15px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: $base-font-size;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: $font;
  background-color: $white-alabaster;
}

img {
	max-width: 100%;
	display: block;
}

.wrap-component {
  display: grid;
  place-items: center;
  max-width: 1440px;
  padding: 50px 32px 32px 32px;
}

.grid {
  display: grid;
  gap: 25px;
  grid-template-areas: "c1" "c2" "c3" "c4";
}

.header {
  max-width: 460px;
  color: $gray-trout;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 36px;

    &-main {
      font-weight: 200;
    }
  
    &-sub {
      font-weight: 600;
    }
  }

  &__description {
    margin-bottom: 76px;
    padding-top: 16px;
    text-align: center;
    color: $gray-aluminium;
    font-weight: 400;
    line-height: 25px;
  }
}

.grid__item {
  // min-height: 227px;
  padding: 28px;
  background-color: $white-alabaster;
  border-radius: 4px;
  box-shadow: 7px 5px 15px -3px $gray-shadow-alfa;
  position: relative;
  padding-bottom: 100px;
  
  &-heading {
    font-size: 20px;
    color: $gray-trout;
    font-weight: 600;
    line-height: 30px;
  }

  &-text {
    color: $gray-aluminium;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.09px;
  }

  &-img {
    height: 57px;
    width: 57px;
    position: absolute;
    bottom: 28px;
    right: 28px;
  }

  &-1 {
    grid-area: c1;
    border-top: 3px solid $turquoise;
  }

  &-2 {
    grid-area: c2;
    border-top: 3px solid $red-mandy;
  }

  &-3 {
    grid-area: c3;
    border-top: 3px solid $yellow-orange;
  }

  &-4 {
    grid-area: c4;
    border-top: 3px solid $cornflower-blue-100;
  }
}


.footer__attribution {
  text-align: center;
  padding: 2rem 0 1rem 0;

    &-text {
      padding-bottom: 0.5em;
      font-size: 0.8rem;
      color: $cadet-blue;
      letter-spacing: 0.0625rem;
    } 

    &-link {
      display: inline-block;
      padding-top: 0.5em;
      text-decoration: none;
      border-bottom: 0.125rem solid $gray-bombay;
      color: $cornflower-blue-200;
      font-weight: 600;
      line-height: 1rem;

      &:hover {
        background-color: $navy-blue-alpha;
        border-bottom: 0.125rem solid $cornflower-blue-200;
      }
    }
}

@media (min-width: 420px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "c1 c2" 
    "c3 c4";
  }
}

@media (min-width: 767px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "null  c2 null1"
    "c1    c2    c4"
    "c1    c3    c4"
    "null3 c3 null4";
  }
}


